{% extends "layout.html" %}

{% block body %}
<h2>
    <font color="red">Hello there friend!</font>
</h2>
<main>
    <img alt="Earth" src="https://timedotcom.files.wordpress.com/2015/07/earth-blue-marble-dscvr.jpg">
</main>
<footer>
    There are seven contidents on Earth:
</footer>
<ol class="left">
    <li><a href="https://ide50-jhsturim.cs50.io/Asia">Asia</a></li>
    <li><a href="https://ide50-jhsturim.cs50.io/Africa">Africa</li>
    <li><a href="https://ide50-jhsturim.cs50.io/NorthAmerica">North America</li>
    <li><a href="https://ide50-jhsturim.cs50.io/SouthAmerica">South America</li>
    <li><a href="https://ide50-jhsturim.cs50.io/Antartica">Antartica</li>
    <li><a href="https://ide50-jhsturim.cs50.io/Europe">Europe</li>
    <li><a href="https://ide50-jhsturim.cs50.io/Australia">Australia</li>
</ol>
{% endblock %}